<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Inicio</title>
</head>
<body>

	<div class="col-lg-4 col-lg-offset-4">
		<h1 class="text-center">Inicio</h1>
		<form action="/respuesta" >
			<input type="text" placeholder="Buscar..." class="form-control"><br>
			<input type="submit" value="Enviar" class="btn btn-success" class="form-control">
		</form>
	</div>
	
</body>
</html>